services:
  timegnosis-next-app:
    image: pavlos888/timegnosis-next-app:latest
    container_name: timegnosis-next-app
    environment:
      - NODE_ENV=${NODE_ENV:-production}
    restart: unless-stopped
    networks:
      - app-network
    
networks:
  app-network:
    external: true
